/** @module guitarlist.scss */

table {  
  thead,
  tbody {
    tr {
      cursor: pointer;
      display: table-row;
      background-color: rgba(255, 255, 255, 0.3);
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      th {
        background: inherit !important;
      }
      td {
        background: inherit !important;
        vertical-align: middle;    
        font-size: 0.875rem;
      }
    }
  }
}

.picture-badge {
  vertical-align: top !important;
  position: relative;
  right: 20px;
}
